[Unit]
Description=Sandbox Service
After=network.target
[Service]
Type=simple
ExecStart=/usr/bin/sandbox -http-addr 0.0.0.0:5050
Restart=always
RestartSec=5
User=nobody
Group=nogroup
[Install]
WantedBy=multi-user.target